$font-family: 'NanumGothic', 'NotoSansKR', 'sans-serif' !important;
$font-00: 10px;
$font-01: 11px;
$font-02: 12px;
$font-03: 13px;
$font-04: 14px;
$font-05: 15px;
$font-06: 16px;
$font-07: 17px;
$font-08: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-26: 26px;
$font-30: 30px;

:root {
  --font-family: #{$font-family};
}


@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 100;
  src: url("~@/assets/fonts/NanumGothicLight.ttf") format('ttf')
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 200;
  src: url("~@/assets/fonts/NanumGothicLight.ttf") format('ttf')
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 300;
  src: url("~@/assets/fonts/NanumGothic.ttf") format('ttf')
}


@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 400;
  src: url("~@/assets/fonts/NanumGothicBold.ttf") format('ttf')
}