:root {
  --black: #000;
  --white: #fff;
  // Gray
  --gray01: #1f242b;
  --gray02: #292f35;
  --gray03: #3a4148;
  --gray04: #525a61;
  --gray05: #757d85;
  --gray06: #9199a1;
  --gray07: #aab2b9;
  --gray08: #c9ced4;
  --gray09: #dce1e5;
  --gray10: #e9edf0;
  --gray11: #f2f4f6;
  --gray12: #fafbfc;
  --gray13: #fafafe;

  // custom-color
  --primary-color: #ffb800;
  --btn-primary-color: #d69100;
  --secondary: #fcd97c;
  --error: #c24c4f;
  --warning: #6ed7f5;
  --background: #33363b;
}
